@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#0f172a;
  color:white;
  font-family:sans-serif;
}

/* =========================
   HEADER
========================= */

header{
  position:sticky;
  top:0;
  background:#0f172aee;
  backdrop-filter:blur(10px);
  padding:15px 20px;
  border-bottom:1px solid #1e293b;
  z-index:999;
}

.home-header{
  position:relative;
}

header h1{
  font-size:28px;
}

header p{
  opacity:.7;
  margin-top:5px;
}

.back{
  display:inline-block;
  margin-bottom:15px;
  color:#93c5fd;
  text-decoration:none;
}

/* =========================
   LIST SURAH
========================= */

#list-surah{
  padding:20px;
  display:grid;
  gap:15px;
}

.card{
  background:#1e293b;
  padding:18px;
  border-radius:18px;
}

.card p{
  margin-top:8px;
  opacity:.7;
}

a{
  color:white;
  text-decoration:none;
}

/* =========================
   NAV SURAH
========================= */

.nav-surah{
  display:flex;
  gap:10px;
  margin-top:15px;
}

.nav-surah button{
  flex:1;
  border:none;
  background:#1e293b;
  color:white;
  padding:12px;
  border-radius:14px;
  font-size:15px;
}

/* =========================
   QURAN
========================= */

#content{
  padding:20px;
}

.mushaf{
  background:#111827;
  border-radius:24px;
  padding:35px 25px;
  font-family:'Amiri Quran', serif;
  font-size:21px;
  line-height:2.5;
  direction:rtl;
  text-align:center;
  box-shadow:
  0 10px 30px rgba(0,0,0,.3);
}

.ayat{
  display:inline;
}

.nomor{
  display:inline-flex;
  align-items:center;
  justify-content:center;
  width:21px;
  height:21px;
  border-radius:50%;
  border:2px solid #475569;
  font-size:9px;
  color:#cbd5e1;
  margin:0 8px;
}